* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 12pt;

	background-color: #ccc;
	background-image: url(/images/background.png);

	overflow-y: scroll;
}

hr {
	border: 1px inset #000;
	height: 0px;
	margin: 0.5em auto;
}

#page {
	width: 80%;
	height: 100%;
	max-width: 900px;
	margin: auto;
}

#header {
	background-color: #3c87b8;
	padding-left: 2em;
	padding-right: 2em;
	height: 7em;
	position: relative;
}

#header a:hover {
	text-decoration: none;
}

#title {
	border: 5px solid #000;
	border-top: none;
	border-radius: 0 0 15px 15px;
	background: #74a607;
	
	padding: 0.5em 1em 0.5em 1em;
 	margin-bottom: 1.5em;

	text-align: center;
	vertical-align: bottom;
	
	white-space: nowrap;
	float: left;
}

#title:hover>h1>.r{
	color: #f00;
}
#title:hover>h1>.g{
	color: #0f0;
}
#title:hover>h1>.b{
	color: #00f;
}

#title:hover>h1{
	text-shadow:
		0px 0px 2px #000,
		-1px 0px 2px #000,
		0px -1px 2px #000,
		1px 0px 2px #000,
		0px 1px 2px #000,
		0px 0px 8px #fff,
		-4px 0px 8px #fff,
		0px -4px 8px #fff,
		4px 0px 8px #fff,
		0px 4px 8px #fff;
}

#title>h1 {
	margin-top: 0.1em;
	font-size: 24pt;
	text-shadow:
		0px 0px 2px #fff,
		-1px 0px 2px #fff,
		0px -1px 2px #fff,
		1px 0px 2px #fff,
		0px 1px 2px #fff;
}

#title>h2 {
	font-size: 11pt;
	font-weight: normal;
	border: none;
	margin: 0;
}

#nav {
	padding-top: 3em;
	text-align: right;
	padding: 0.25em;
	position: absolute;
	right: 2em;
	bottom: 0.5em;
}

#nav>a {
	margin: 0 0.5em 0 0.5em;
	color: #fff;
	font-weight: bold;
	font-size: 14pt;
	text-shadow:
		0px 0px 2px #000,
		-1px 0px 2px #000,
		0px -1px 2px #000,
		1px 0px 2px #000,
		0px 1px 2px #000;
}

#nav>a:hover {
	text-shadow:
		0px 0px 6px #000,
		-3px 0px 6px #000,
		0px -3px 6px #000,
		3px 0px 6px #000,
		0px 3px 6px #000;
	text-decoration: none !important;
}

#nav>a.current {
	text-shadow:
		0px 0px 2px #000,
		-1px 0px 2px #000,
		0px -1px 2px #000,
		1px 0px 2px #000,
		0px 1px 2px #000,
		0px 0px 8px #fff,
		-4px 0px 8px #fff,
		0px -4px 8px #fff,
		4px 0px 8px #fff,
		0px 4px 8px #fff;
}

#header a, #footer a{
	text-decoration: none;
}

a {
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: inherit;
}

#content {
	background-color: #bbbb77;
	background-color: #fff;
	padding: 2em;
}

.contentFrame {
	clear: both;
	background-color: #ddd;
	padding: 1.5em 2em 1.5em 2em;
	border-radius: 0.75em;

	margin-top: 1em;
	border: 1px solid #999;
}

.contentFrame:first-child {
	margin-top: 0;
}

#footer {
	background-color: #000;
	color: #fff;
	border-radius: 0 0 1em 1em;
	
	font-size: 10pt;
	
	padding: 0.5em 2em 0.5em 2em;
	margin-bottom: 2em;
	
	position: relative;
	text-align: center;
}

.left {
	position: absolute;
	left: 2em;
}

.right {
	position: absolute;
	right: 2em;
}

#footer img {
	vertical-align: middle;
}

td, th {
	padding-left: 0.5em;
	padding-right: 0.5em;
	vertical-align: top;
}

input, select {
	font-size: 12pt;
}

input, textarea {
	width: 100%;
}

input[type=submit] {
	width: auto;
	padding: 0.5em;
	padding-left: 5em;
	padding-right: 5em;
}

h3, h4 {
	margin-top: 1em;
}

ul, ol {
	margin-bottom: 1em;
	margin-top: 0;
	padding-top: 0;
	margin-left: 2em;
}

ul, ol {
	list-style-position: inside;
}


.ccMarker {
	position: absolute;
	left: 0;
	bottom: 0;
}

.error {
	color: #bf0040;
	font-weight: bold;
}

.success {
	color: #74a607;
	font-weight: bold;
}


#title {
	padding-top: 2.25em;
	margin-top: -2.25em;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th {
	text-align: right;
}

thead>* {
	background-color: #999;
}

.currentSong {
	font-weight: bold;
}

.powerButton {
	background-image: url(/images/power-button.svg);
	background-size: 100% 100%;
	margin: 10px;
	float: left;
	width: 150px;
	height: 150px;
	text-align: center;
	font-weight: bold;
	font-size: 40pt;
	line-height: 150px;
	color: #fff;

	text-shadow:
		0px 0px 2px #000,
		-1px 0px 2px #000,
		0px -1px 2px #000,
		1px 0px 2px #000,
		0px 1px 2px #000;
}
