<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />

		<title>MIDI Relays{{TITLE}}</title>
		<!--
		<link rel="icon" type="image/png" href="/images/favicon.png" />
		<link rel="icon" type="image/png" href="/images/favicon-128.png" />
		<link rel="icon" type="image/png" href="/images/favicon-256.png" />
		-->
		
		<link href="/style/main.css" rel="stylesheet" type="text/css" />
		{{ADDITIONAL_CSS}}
		
		<script type="text/javascript" src="/script/convenience.js"></script>
		<script type="text/javascript" src="/script/cookies.js"></script>
		<script type="text/javascript">
			function pageLoaded(){
				var nodes = e("nav").getElementsByTagName("a");
				var winner = null;
				for(var i=0; i<nodes.length; i++){
					if((''+window.location).indexOf(nodes[i].href) > -1){
						if(winner == null || winner.href.split("/").length < nodes[i].href.split("/").length){
							winner = nodes[i];
						}
					}
				}
				if(winner != null){
					winner.className += " current";
				}

			}
			
			window.addEventListener('load', pageLoaded, false);
		</script>
		{{ADDITIONAL_JAVASCRIPT}}
	</head>
	
	<body>
		<div id="page">
			<div id="header">
				<a href="/" title="Home Page">
					<div id="title" class="title">
						<h1><span class="r">MIDI</span> <span class="g">Light</span> <span class="b">Relays</span></h1>
						<h2>by Green Light Go</h2>
					</div>
				</a>
				<div id="nav">
					<a href="/" title="View Status">Status</a>
					<a href="/controls/" title="Controls">Controls</a>
					<a href="/playlists/" title="View/edit Playlists">Playlists</a>
					<a href="/shows/" title="Add/remove Shows">Shows</a>
				</div>
			</div>
			
			<div id="content">
				<div class="contentFrame">
					{{PAGE_CONTENT}}
				</div>
			</div>
				
			<div id="footer">
				<a class="left" href="tel:+13167124391" title="Call Green Light Go">316.712.4391</a>
				<a href="mailto:mail@greenlightgo.org" title="Send an email to Green Light Go">
					<img src="/images/badge.png" width="98" height="18" alt="Green Light Go Badge" />
				</a>
				<a class="right" rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US" title="Creative Commons License">
					<img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" />
				</a>
			</div>
		</div>
	</body>
</html>
